<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AndyExtension_Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B68CA0221D124AEC0030D1AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B68CA03B1D124AEC0030D1AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B68CA0461D124AEC0030D1AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
